/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #008148;
  --second-color: #1e3932;
}

*::selection {
  color: #fff;
  background-color: var(--main-color);
}

section {
  padding: 50px 10%;
}

img {
  width: 100%;
}

/*Scroll personalizado*/
body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background-color: #28a745;
  border-radius: 5px;
}

/*Nav*/

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1e3932;
}

.logo img {
  width: 5rem;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  font-size: 1rem;
  padding: 11px 20px;
  color: var(--second-color);
  font-weight: 600;
  text-decoration: none;
}

.logo h1 {
  color: var(--second-color);
  font-weight: 500;
  text-decoration: none !important;
  font-family: "Croissant One", cursive;
  font-style: italic;
}

.navbar a:hover {
  color: var(--main-color);
}

a,
h4 {
  font-family: "Croissant One", cursive;
}

/*Header landing page*/

.home {
  background: #ebdbc8;
  width: 100%;
  align-items: center;
}

.main_login {
  background-color: #ebdbc8;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23a792ac' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.home-img img {
  width: 30rem;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-11px, 0);
  }

  50% {
    transform: translate(-0px, -11px);
  }

  100% {
    transform: translate(-11px, 0);
  }
}

.home-text span {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--second-color);
}

.home-text h1 {
  font-size: 3.2rem;
  color: var(--main-color);
  font-weight: bolder;
}

.home-text h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--second-color);
  text-transform: capitalize;
  margin: 0.5rem 0 1.4rem;
}

.btn {
  padding: 7px 16px;
  border: 2px solid var(--second-color);
  border-radius: 40px;
  color: var(--second-color);
  font-weight: 500;
}

.btn_login {
  padding: 7px 16px;
  border: 2px solid var(--second-color);
  border-radius: 40px;
  color: var(--second-color);
  font-weight: 500;
}

.btn_login:hover {
  color: #fff;
  background-color: var(--main-color);
}

.btn:hover {
  color: #fff;
  background: var(--second-color);
}

.heading {
  text-align: center;
}

.heading span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--second-color);
}

.heading h1 {
  font-size: 2rem;
  color: var(--main-color);
}

.shop-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 5rem;
}

.shop-container .box {
  flex: 1 1 10rem;
  background: var(--main-color);
  padding: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  border-radius: 0.5rem;
}

.shop-container .box .box-img {
  width: 200px;
  height: 200px;
  margin-top: -100px;
}

.shop-container .box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.stars {
  margin: 1rem 0 0.1rem;
}

.shop-container .box .stars .bx {
  color: #ebdbc8;
}

.shop-container .box h2 {
  color: #ebdbc8;
  font-size: 1.2rem;
}

.shop-container .box span {
  color: #ebdbc8;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.2rem 0 0.5rem;
}

.box .btn {
  border: 2px solid #ebdbc8;
  color: #ebdbc8;
}

.box .btn:hover {
  background-color: #ebdbc8;
  color: #1e3932;
}

.sub-title {
  color: var(--main-color);
}

#about_us {
  background-color: #ebdbc8;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social a {
  font-size: 27px;
  margin: 0.5rem;
}

.social a .bx {
  padding: 5px;
  color: white;
  background: #000000;
  border-radius: 50%;
}

.social a .bx:hover {
  background: var(--main-color);
}

.links {
  margin: 1rem 0 1rem;
}

.links a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--second-color);
  padding: 1rem;
}

.links a:hover {
  color: var(--main-color);
}

.contact p {
  text-align: center;
}

@media (max-width: 1150px) {
  header {
    padding: 18px 7%;
  }

  section {
    padding: 50px 7%;
  }

  .home-text h1 {
    font-size: 3rem;
  }

  .home-text h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }

  section {
    padding: 50px 4%;
  }
}

@media (max-width: 768px) {
  header {
    padding: 11px 4%;
  }

  #menu-icon {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 4px 4px rgb(14 55 54 / 14%);
    border-top: 2px solid var(--main-color);
    transition: 0.2s;
    text-align: left;
  }

  .navbar.active {
    top: 100%;
  }

  .navbar a {
    padding: 1.5rem;
    display: block;
    color: var(--second-color);
  }

  .home-text span {
    font-size: 0.9rem;
  }

  .home-text h1 {
    font-size: 2.4rem;
  }

  .home-text h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .home-text {
    padding-top: inherit;
  }

  .shop-container .box {
    margin-top: 6rem;
  }

  .heading h1 {
    font-size: 1.5rem;
  }

  .heading span {
    font-size: 0.9rem;
  }

  .about {
    flex-direction: column-reverse;
  }
}

@media (max-width: 430px) {
  .links {
    display: flex;
    flex-direction: column;
  }
}

/*LOGIN*/

.login {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}

.login_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.login_form {
  position: relative;
  margin-inline: 1.5rem;
  background-color: #1e3932;
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  padding: 2.5rem 1rem;
  border-radius: 1rem;
  backdrop-filter: blur(16px);
  color: white;
}

.login_title {
  text-align: center;
  font-size: 600;
  margin-bottom: 1.25rem;
  color: #ebdbc8;
}

.login_inputs,
.login_box {
  display: grid;
}

.login_inputs {
  row-gap: 1.25rem;
  margin-bottom: 1rem;
}

.login_box {
  grid-template-columns: 1fr max-content;
  column-gap: 0.75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, 0.862);
  padding-inline: 1.25rem;
  border-radius: 4rem;
}

.login_input,
.login_button {
  border: none;
  font-size: medium;
}

.login_input {
  width: 100%;
  background: none;
  color: white;
  padding-block: 1rem;
}

.login_input::placeholder {
  color: white;
}

.login_box i {
  font-size: 1.25rem;
}

.login_register {
  font-size: small;
  text-align: center;
}

.login_register a {
  color: white;
  font-weight: 500;
}

.login_register a:hover {
  text-decoration: underline;
}

/*Reponsive Log in*/
@media screen and (min-width: 576px) {
  .login {
    justify-content: center;
  }

  .login_form {
    width: 420px;
    padding-inline: 2.5rem;
  }

  .login_title {
    margin-bottom: 2rem;
  }
}

/*Ivan*/
/*Shop Page*/
#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 3px solid #115c0bcb;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
  background-color: #fff;
}

#product1 .pro img {
  border-radius: 25px;
  width: 100%;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des i {
  padding-top: 7px;
  color: rgb(243, 181, 25);
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

@media (max-width: 800px) {
  #product1 .pro {
    width: 40%;
  }
  #pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 4px;
  }
}

@media (max-width: 477px) {
  #product1 .pro {
    width: 100%;
  }
  #product1 .pro .cart {
    position: absolute;
    bottom: 20px;
    right: 10px;
  }
  #pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 4px;
  }
}

/* Page Product */

#page-header {
  background: url(../images/banneroff.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 14px;
}

#page-header h2,
#page-header p {
  color: #fff;
}

.section-p1 {
  padding: 40px 80px;
}

#pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 4px;
}

#pagination a {
  text-decoration: none;
  background: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

#prodetails {
  display: flex;
  margin-top: 20px;
}

#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between !important;
  margin-top: 3px;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
  font-size: 26px;
}

#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
  outline: none;
}

#prodetails .single-pro-details button {
  background: #088178;
  color: #fff;
  border: 1px solid #088178;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

#prodetails .single-pro-details span {
  line-height: 25px;
}

.sale {
  text-align: justify;
}

@media (max-width: 477px) {
  /* Page Product */
  #prodetails {
    display: flex;
    flex-direction: column;
  }

  #prodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }

  #prodetails .single-pro-details {
    width: 100%;
  }
}

/* BLOG Page */

#page-header {
  background: url(../images/banneroff.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 14px;
}

#blog {
  padding: 150px 150px 0 150px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#blog .blog-details {
  width: 50%;
}

#blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: #000;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}

#blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right: -60px;
}

#blog .blog-details a:hover {
  color: var(--main-color);
}

#blog .blog-details a:hover::after {
  background: var(--main-color);
}

#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #cec4c4;
}

@media (max-width: 977px) {
  #blog {
    padding: 100px 50px 0 50px;
  }

  #blog .blog-box {
    flex-direction: column;
  }

  #blog .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  #blog .blog-details {
    width: 100%;
  }

  #blog .blog-details a::after {
    right: -40px;
    margin-top: 10px;
  }

  #blog .blog-box h1 {
    font-size: 40px;
    margin-top: 10px;
  }
}

@media (max-width: 477px) {
  /* Blog Page */
  #blog {
    padding: 100px 20px 0 20px;
  }

  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #blog .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  #blog .blog-details {
    width: 100%;
  }
}

/* Cart Page */
#cart {
  overflow-x: auto;
}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

#cart table img {
  width: 70px;
}

#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#cart table tbody tr td {
  padding-top: 15px;
}

#cart table tbody td {
  font-size: 13px;
}

#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#coupon {
  width: 50%;
  margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
  padding-bottom: 15px;
}

#coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button {
  background-color: var(--main-color);
  color: #fff;
  padding: 12px 20px;
  border: none;
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}

#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}

#subtotal table td:last-child {
  text-align: right;
}

@media (max-width: 991px) {
  /* cart Page */
  #cart-add {
    padding: 20px;
  }
  #coupon,
  #subtotal {
    width: 100%;
  }
}

@media (max-width: 477px) {
  /* Cart Page */
  #cart-add {
    display: flex;
    flex-direction: column;
  }
  #coupon,
  #subtotal {
    margin-bottom: 30px;
  }
  #coupon {
    width: 100%;
  }
  #subtotal {
    width: 100%;
    padding: 20px;
  }
  #cart table thead td {
    font-size: 12px;
  }
  #cart table tbody td {
    font-size: 12px;
  }
}

/* Contact Page  */

#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-details .details {
  width: 40%;
}

#contact-details .details span,
#form-details form span {
  font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}

#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}

#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}

#contact-details .details li i {
  font-size: 14px;
  padding-right: 22px;
}

#contact-details .details li p {
  margin: 0;
  font-size: 14px;
}

#contact-details .map {
  width: 55%;
  height: 400px;
}

#contact-details .map iframe {
  width: 100%;
  height: 100%;
}

#form-details {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}

#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

#form-details form button {
  background-color: var(--main-color);
  color: #fff;
  padding: 15px 20px;
  outline: none;
  border: none;
}

#form-details .people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}

#form-details .people div img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 50%;
}

#form-details .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}

#form-details .people div p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: var(--main-color);
}

@media (max-width: 799px) {
  /* Contact Page */
  #form-details {
    padding: 40px;
  }
  #form-details form {
    width: 50%;
  }
}

@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }
  /* Contact Page  */
  #contact-details {
    display: flex;
    flex-direction: column;
  }
  #contact-details .details {
    width: 100%;
    margin-bottom: 30px;
  }
  #contact-details .map {
    width: 100%;
  }
  #form-details {
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
  }
  #form-details form {
    width: 100%;
    margin-bottom: 30px;
  }
}

/* About page */

#about-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#about-head img {
  width: 50%;
  height: 300px;
  object-fit: cover;
}

#about-head div {
  padding-left: 40px;
}

#about-app {
  text-align: center;
}

#about-app .video {
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}

#about-app .video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

@media (max-width: 477px) {
  /* About Page */
  #about-head {
    flex-direction: column;
  }
  #about-head img {
    width: 100%;
    margin-bottom: 20px;
  }
  #about-head div {
    padding-left: 0;
  }
  #about-app .video {
    width: 100%;
  }
}

/* Ultimos cambios */
/* Manager Page */

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formAdd {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group label {
  font-weight: bold;
}

.form-group input[type="text"],
.form-group textarea,
.form-group input[type="number"],
.form-group select,
.form-group input[type="url"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-group textarea {
  height: 100px;
}

.buttonAdd {
  background-color: var(--main-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.buttonAdd:hover {
  background-color: var(--second-color);
}

/* Cards  */
.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #e1e1e1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  height: 25rem;
}

/* Shop */
.main_shop {
  background-color: #ebdbc8;
  margin-bottom: 2rem;
}

/* Footer */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #1e393280;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  margin: 0 0 8px 0;
  font-size: 13px;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

.logoFooter {
  margin-bottom: 30px;
  width: 5rem;
}

footer .install .row1 img {
  border: 1px solid #088178;
  border-radius: 6px;
  padding: 10px;
}

footer .col h4 {
  margin: 0 0 15px 0;
}

.copyright {
  text-align: center;
  color: #465b52;
  font-size: 13px;
  margin-top: 20px;
}

/* Account Page */
#menu .menu-item {
  border-left: 4px solid #5e7e29;
  color: #5e7e29;
  font-family: Festivo;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  background-color: #008148;
}

.menu-item a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  font-weight: 600;
  padding: 15px 0;
  background-color: #1e393280;
  display: flex;
  align-items: center;
  margin: 3px 1px;
  justify-content: center;
  width: 10rem;
  border-left: 8px solid #5e7e29;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  border-block: 3px solid #5e7e29;
  margin-left: 100px;
}

.menu-item a:hover {
  color: #fff;
  background-color: #5e7e29;
  border-left: 6px solid #5e7e29;
}

.menu-account {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 3rem;
}

.menu-perfil {
  justify-content: center;
  align-items: center;
  gap: 5rem;
  border: #000000;
  background-color: #62ad8394;
  height: auto;
  width: 30rem;
  height: auto;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease;
  cursor: pointer;
  border-block: 3px solid #62ad82ae;
  border-right: 4px solid #62ad82ae;
}

.perfil-header {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  gap: 1rem;
  margin: 0.5rem;
  border-style: double;
  border-color: #000000;
  border-radius: 20px;
  padding: 20px 20px;
}

.perfil-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button-edit {
  background-color: #008148;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.table-products {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-style: double;
}

.table-products thead tr {
  background-color: #008148;
  color: #ffffff;
  text-align: left;
}

.table-products th,
.table-products td {
  padding: 12px 15px;
}

.table-products tbody tr {
  border-bottom: 1px solid #dddddd;
}

.menu-img {
  border-radius: 20px;
  width: 30rem;
}

.img-account {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
  margin: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  border-block: 4px solid #62ad8394;
  border-right: 6px solid #62ad8394;
}

.main-account {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 99vw;
  height: auto;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

.menu-item-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 30rem;
  height: auto;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

@media (max-width: 799px) {
  .menu-account {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 10px;
    height: auto;
    width: 45rem;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    gap: 3rem;
  }
  .img-account {
    width: 26rem;
  }
}

@media (max-width: 477px) {
  .menu-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: auto;
    width: 24rem;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
  }
}

/* Button Cart */
.custom-button {
  position: fixed;
  top: 20px;
  right: 20px;
}
[v-cloak] {
  display: none;
}
.cart-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* Estilo para el botón "Agregar" (verde) */
.add-button {
  background-color: #28a745;
  color: #fff;
}

/* Estilo para el botón "Quitar" (rojo) */
.remove-button {
  background-color: #dc3545;
  color: #fff;
}

/* Estilo para el botón "Eliminar" (rojo oscuro) */
.delete-button {
  background-color: #8b0000;
  color: #fff;
}

/* Cambio de color al pasar el mouse */
.cart-button:hover {
  filter: brightness(1.2);
}
/* Estilos para el spinner a pantalla completa */
.fullscreen-spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; /* Fondo blanco */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Estilos para el spinner */
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #007bff; /* Color del spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Animación de giro */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.active-ancores {
  color: #28a745 !important;
}
